/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #2caeba;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-white: #fff;
  
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;

  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

.section {
  padding: 2rem 1rem;
  width: 90vw;

  max-width: var(--max-width);
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-primary);
  margin: 0 auto;
}

.loading {
  text-align: center;
  font-size: 2rem;
}

.jobs-center {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .jobs-center {
    grid-template-columns: 200px 1fr;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  margin-bottom: 1rem;
  cursor: pointer;
  padding-left: 0;
  color: var(--clr-grey-5);
  transition: var(--transition);

}

.job-btn:hover {
  color: var(--clr-primary);
}

.active-btn {
  color: var(--clr-primary);
  box-shadow: 0 2px var(--clr-primary);
}

.job-info h3 {
  font-weight: 400;
}

.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  background: #f1f5f8;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}

.job-date {
  letter-spacing: var(--spacing);
}

.job-desc {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.job-icon {
  color: var(--clr-primary);
  font-size: 1rem;

}